<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.mapper.DeviceMapper">

    <insert id="saveStationInfo" parameterType="com.iot.entity.StationInfo">
        insert into t_station_info(f_station_no, f_station_name, f_station_lon, f_station_lat, f_station_address,
                                   f_process_tech,
                                   f_process_scale, f_dev_ops_num, f_principal, f_contact_tel, f_bg_dev_img_path,
                                   f_bg_water_img_path,
                                   f_remarks1, f_remarks2, f_remarks3, f_isOnline, f_onlineModifyTime)
        values (#{stationNo}, #{stationName}, #{stationLon}, #{stationLat}, #{stationAddress}, #{processTech},
                #{processScale}, #{devOpsNum}, #{principal},
                #{connectTel}, #{bgDevImgPath}, #{bgWaterImgPath}, #{remarks1}, #{remarks2},
                #{remarks3}, 0, CURRENT_TIMESTAMP)
    </insert>

    <select id="getStationInfoByNo" parameterType="java.lang.String" resultType="com.iot.entity.StationInfo">
        select f_station_no        as stationNo,
               f_station_name      as stationName,
               f_station_lon       as stationLon,
               f_station_lat       as stationLat,
               f_station_address   as stationAddress,
               f_process_tech      as processTech,
               f_process_scale     as processScale,
               f_dev_ops_num       as devOpsNum,
               f_principal         as principal,
               f_contact_tel       as connectTel,
               f_bg_dev_img_path   as bgDevImgPath,
               f_bg_water_img_path as bgWaterImgPath,
               f_remarks1          as remarks1,
               f_remarks2          as remarks2,
               f_remarks3          as remarks3
        from t_station_info
        where f_station_no = #{stationNo}
    </select>

    <update id="updateStationInfo" parameterType="com.iot.entity.StationInfo">
        update t_station_info
        set f_station_name = #{stationName},
        f_station_lon = #{stationLon},
        f_station_lat = #{stationLat},
        f_station_address = #{stationAddress},
        f_process_tech = #{processTech},
        f_process_scale = #{processScale},
        f_dev_ops_num = #{devOpsNum},
        f_principal = #{principal},
        f_contact_tel = #{connectTel},
        f_bg_dev_img_path = #{bgDevImgPath},
        f_bg_water_img_path = #{bgWaterImgPath},
        f_remarks1 = #{remarks1},
        <choose>
            <when test="remarks3 != '' and  remarks3 != null">
                f_remarks2 = #{remarks2},
                f_remarks3 = #{remarks3}
            </when>
            <otherwise>
                f_remarks2 = #{remarks2}
            </otherwise>
        </choose>
        where f_station_no = #{stationNo}
    </update>

    <update id="updateStationOnline" parameterType="java.lang.Object">
        update t_station_info
        set
        <if test="isOnline == true">
            f_isOnline = 1,
        </if>
        <if test="isOnline == false">
            f_isOnline = 0,
        </if>
        f_onlineModifyTime = CURRENT_TIMESTAMP
        where f_station_no = #{stationNo}
    </update>

    <select id="checkStationOffOnline" parameterType="java.lang.String" resultType="java.util.Map">
        select t.isOnLine, DATE_FORMAT(t.lastReceiveTime, '%Y-%m-%d %T') as lastReceiveTime
        from (select f_isOnline as isOnLine, f_onlineModifyTime as lastReceiveTime
              from t_station_info
              where f_station_no = #{stationNo}
                and (f_isOnline = 0
                  or abs(timestampdiff(MINUTE
            , CURRENT_TIMESTAMP()
                      , f_onlineModifyTime)) > 1)) as t
    </select>

    <select id="checkStationOnline" parameterType="java.lang.String" resultType="java.util.Map">
        select t.isOnLine, DATE_FORMAT(t.lastReceiveTime, '%Y-%m-%d %T') as lastReceiveTime
        from (select f_isOnline as isOnLine, f_onlineModifyTime as lastReceiveTime
              from t_station_info
              where f_station_no = #{stationNo}
                and (f_isOnline = 1
                  and abs(timestampdiff(MINUTE
            , CURRENT_TIMESTAMP()
                      , f_onlineModifyTime)) &lt;= 1)) as t
    </select>

    <select id="getStationOffOnlineByTime" resultType="java.lang.Boolean">
        select distinct f_station_no as stationNo
        from t_station_info
        where f_isOnline = 1
          and abs(timestampdiff(MINUTE
            , CURRENT_TIMESTAMP()
            , f_onlineModifyTime)) > 1
    </select>

    <select id="getAllStationNo" resultType="java.lang.String">
        select distinct f_station_no as stationNo
        from t_station_info
    </select>

    <select id="getPageAllStationInfo" resultType="com.iot.entity.StationInfo">
        select f_station_no        as stationNo,
               f_station_name      as stationName,
               f_station_lon       as stationLon,
               f_station_lat       as stationLat,
               f_station_address   as stationAddress,
               f_process_tech      as processTech,
               f_process_scale     as processScale,
               f_dev_ops_num       as devOpsNum,
               f_principal         as principal,
               f_contact_tel       as connectTel,
               f_bg_dev_img_path   as bgDevImgPath,
               f_bg_water_img_path as bgWaterImgPath,
               f_remarks1          as remarks1,
               f_remarks2          as remarks2,
               f_remarks3          as remarks3
        from t_station_info
        where f_station_name like #{stationName} limit #{page}
            , #{pageSize}
    </select>

    <select id="getPageAllStationInfoTotal" parameterType="java.lang.String" resultType="java.lang.Long">
        select count(1) as total
        from t_station_info
        where f_station_name like #{stationName}
    </select>

    <delete id="deleteStationInfo" parameterType="java.lang.String">
        delete
        from t_station_info
        where f_station_no = #{stationNo}
    </delete>

    <insert id="saveDevice" parameterType="com.iot.entity.Device">
        insert into t_device(f_station_no, f_dev_no, f_var_list_fields, f_var_list_fields_md5,
                             f_start_receive_time, f_end_receive_time, f_is_show)
        values (#{stationNo}, #{devNo}, #{varListFields}, MD5(f_var_list_fields), #{startReceiveTime},
                #{endReceiveTime}, 1)
    </insert>

    <select id="getDeviceLiveData" parameterType="com.iot.entity.DeviceLiveData" resultType="com.iot.entity.Device">
        select f_dev_no              as devNo,
               f_station_no          as stationNo,
               f_var_list_fields     as varListFields,
               f_var_list_fields_md5 as varListFieldsMd5,
               f_start_receive_time  as startReceiveTime,
               f_receive_count       as receiveCount,
               f_end_receive_time    as endReceiveTime
        from t_device
        where f_dev_no = #{devNo}
          and f_station_no = #{stationNo}
          and f_end_receive_time &gt;= #{queryTime}
          and f_is_show = 1
        order by f_end_receive_time desc limit 0, 1
    </select>

    <insert id="saveDeviceInfo" parameterType="com.iot.entity.DeviceInfo">
        insert into t_device_info(f_station_no, f_dev_name, f_dev_type, f_dev_var_fields, f_dev_vector)
        values (#{stationNo}, #{devName}, #{devType}, #{devVarFields}, #{deviceVector})
    </insert>

    <delete id="deleteDeviceInfo" parameterType="java.util.List">
        delete from t_device_info
        where
        <if test="devNos!=null and devNos!='' and devNos.size()>0">
            f_dev_no in
            <foreach collection="devNos" item="item" index="index"
                     open="(" separator="," close=")">#{item}
            </foreach>
        </if>
    </delete>

    <select id="getDeviceInfoByStationNo" parameterType="java.lang.String" resultType="com.iot.entity.DeviceInfo">
        select f_dev_no         as devNo,
               f_station_no     as stationNo,
               f_dev_name       as devName,
               f_dev_type       as devType,
               f_dev_var_fields as devVarFields,
               f_dev_vector     as deviceVector
        from t_device_info
        where f_station_no = #{stationNo}
    </select>

    <update id="updateDeviceInfo" parameterType="com.iot.entity.DeviceInfo">
        update t_device_info
        set f_dev_name       = #{devName},
            f_dev_type       = #{devType},
            f_dev_var_fields = #{devVarFields},
            f_dev_vector     = #{deviceVector}
        where f_dev_no = #{devNo}
          and f_station_no = #{stationNo}
    </update>

    <update id="updateSameDeviceCounter" parameterType="java.lang.String">
        update t_device
        set f_end_receive_time   = #{endReceiveTime},
            f_start_receive_time = f_start_receive_time,
            f_receive_count      = f_receive_count + 1
        where f_station_no = #{stationNo}
          and f_var_list_fields_md5 = #{varListFieldsMd5}
          and f_is_show = 1;
    </update>

    <select id="checkDeviceExist" parameterType="java.lang.Object" resultType="java.lang.Long">
        select count(1) as total
        from t_device
        where MD5(f_var_list_fields) = #{varList4FieldsMd5}
          and f_station_no = #{stationNo}
          and f_dev_no = #{devNo}
          and f_is_show = 1;
    </select>

    <select id="getDeviceInfoAll" parameterType="java.lang.String" resultType="com.iot.entity.DeviceInfo">
        select f_dev_no         as devNo,
               f_station_no     as stationNo,
               f_dev_name       as devName,
               f_dev_type       as devType,
               f_dev_var_fields as devVarFields,
               f_dev_vector     as deviceVector
        from t_device_info
        where f_station_no = #{stationNo}
    </select>

    <select id="getAllDeviceType" resultType="com.iot.entity.DeviceType">
        select f_id as id, f_name as devTypeName
        from t_device_type;
    </select>

    <update id="updateToHistory" parameterType="java.lang.Long">
        update t_device
        set f_is_show = 0
        where f_dev_no = #{devNo}
    </update>

</mapper>
