<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lot.mapper.ReportMapper">

    <select id="getDeviceInfo" parameterType="java.lang.String"
            resultType="com.lot.entity.DeviceInfo">
        select f_dev_no as devNo, f_station_no as stationNo,
            f_dev_name as devName, f_dev_type as devType,
            f_dev_var_fields as devVarFields from t_device_info
         where f_station_no = #{stationNo}
         and f_dev_name = #{devName}
         limit 0, 1
    </select>

    <select id="getReportContent" parameterType="java.lang.String"
            resultType="com.lot.entity.ReportContent">
        select t1.f_var_list_fields as varList4Fields,
            t1.f_receive_count as receiveCount,
            t1.f_start_receive_time as startReceiveTime,
            t1.f_end_receive_time as endReceiveTime,
            t1.f_station_no as stationNo,
            t3.f_name as devType,
            t2.f_dev_name as devName,
            '' as timePoint
        from t_device t1,
             t_device_info t2,
             t_device_type t3
        where t1.f_station_no = #{stationNo}
            and t2.f_dev_name = #{devName}
            and t3.f_name = #{devType}
            and t1.f_start_receive_time &lt;= #{startTime}
            and t1.f_end_receive_time &gt;= #{endTime}
    </select>

    <select id="getTimeInterValInfo" resultType="com.lot.entity.TimeIntervalEntity">
        select f_id as id, f_interval as timeInterval, f_unit as unit
        from t_time_interval
    </select>


    <select id="getTimeInterValById" resultType="com.lot.entity.TimeIntervalEntity">
        select f_interval as timeInterval, f_unit as unit
        from t_time_interval
        where f_id = #{id}
        limit 0, 1
    </select>

</mapper>
